# Keep the dist tarball lean: exclude dev/meta files from `git archive`
# (the source Packagist/GitHub serve for `composer require`). The profile's
# runtime files — config/, patches/, *.info.yml, *.profile, composer.json,
# README, LICENSE — are intentionally NOT ignored and ship in the package.
/.github            export-ignore
/docs               export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/CLAUDE.md          export-ignore
/PLAN.md            export-ignore
/BACKLOG.md         export-ignore
/TODO.md            export-ignore
